.App {
  text-align: center;
}

.headerNav{  
  text-align: right;
}

.navStyle{
  text-align: right;
}

.cardStyle{
  background-color: black;
}

.centeredDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}