.App {
  text-align: center;
}

.headerNav{  
  text-align: right;
}

.navStyle{
  text-align: right;
}

.cardStyle{
  background-color: black;
}

.centeredDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer {
  margin-top:calc(5% + 60px);
  bottom: 0;
}

.commentPageContainer{
  display: flex;
  flex-direction: row;

}

.commentPageDiv{
  width: 50%;
  text-align: center;

}